<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties></properties>
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<typeAliases>

	
</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@nextit.or.kr:1521:xe" />
				<property name="username" value="std202" />
				<property name="password" value="oracle21c" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/blog-mapper.xml" />
		<!-- 이설정하는 파일을 mapper에서 불러와야함 -->
	</mappers>
</configuration>